{% extends "base.html" %}

{% block head_title %}
{{ instance.name}} | {{ block.super }}
{% endblock head_title %}



{% block content %}
<div class='col-sm-12 col-sm-offset-3'>
<h3>{{ title }}&nbsp;&nbsp;<small>{{ instance.speciality }}</small></h3>

{{ instance.num_street }}&nbsp;{{ instance.type_street }}&nbsp;{{ instance.name_street }}&nbsp;{{ "à" }}&nbsp;{{ instance.city }}<br/>
{{ instance.phone }}<br/>
{{ instance.schedule | linebreaks }}<br/>
<!-- {{ instance.id }}<br/> -->
{{ instance.latitude }}&nbsp;{{","}}&nbsp;{{ instance.longitude }}<br/><br/>

{{ waiting_room }}

<!-- {% for pat in pat_list %}
<p>{{ pat_list }}</p><br/>
{% endfor %} -->

<h1>{{ "Temps d'attente estimé à" }}&nbsp;{{ instance.waiting_time }}</h1>

<p><a href="{{ "register" }}" class="btn btn-primary" role="button">S'inscrire</a>
	<a href="{{ "cancel" }}" class="btn btn-primary" role="button">Ne pas s'inscrire</a>
<p>

</div>

{% endblock content %}

